.venv
build
build-win
build_win
build-wsl
_build
.pytest_cache
__pycache__
*.bin
*.ggmlc
*.gguf
scratch/
*.pyd
*.so
*.whl
*.egg-info
*.dist-info
dist
.ruff_cache
benchmark*.md
benchmark*.json
project.md
